*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo{
    background:
    linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.2),
        rgba(0,0,0,.6)
    ),  url(../img/fallow-deer-984573_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y:63% ;
}

header{
    height: 10vh;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
li a{
    text-decoration:none;
    color: white;
    font-family: 'Kaushan Script', cursive;
}
li{
    margin: 0 15px;
    display: inline-block;
    text-align: center;
}

.contenedor{
    height: 83vh;
    width: 80% ;
    margin: 0 auto;
}

.cont-titulo{
    height: 20%;
    text-align: center;
    margin-top: 55px;
}
.cont-titulo h1{
    font-size: 45px;
}
.cont-input{
    font-size: 20px;
    height: 20%;
    text-align: center;
}
.cont-input input{
    color: white;
    margin-left:280px ;
    font-size: 30px;
    border: none;
    outline: none;
    border-bottom:solid 1px white ;
    background-color: transparent;
    font-family: 'Bad Script', cursive;
}
.cont-input button{
    background-color: transparent;
    height: 53px;
    width: 93px;
}
.cont-input button:hover{
    background-color: rgba(173, 173, 173, 0.8);
}
.separador{
    padding-top: 30px;
}
.cont-img{
    text-align: center;
}

#img1{
    background: url(../img/models/polar-bear-404314_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#img2{
    background: url(../img/models/amurtiger-1975790_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#img3{
    background: url(../img/models/cheetah-2902163_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#img4{
    background: url(../img/models/blue-4290676_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#img5{
    background: url(../img/models/monkey-2139295_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#img6{
    background: url(../img/models/grey-seal-3281160_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#img7{
    background: url(../img/models/reptile-1246666_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#img8{
    background: url(../img/models/alligator-439890_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cont-descript{
    position: absolute;
    background-color: rgba(250, 250, 250, 0.7);
    z-index: 5;
    width: 300px;
    top: 75%;
    left: calc(50% - 150px);
    height: 65px;
}

.cont-descript h2{
    font-size: 27px;
    line-height: 65px;
}

.img{
    position: relative;
    width: 25%;
    height: 162px;
    float: left;
    overflow: hidden;
    bottom: -69px;
    }

.scream{
   
    top: -100%;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: top 0.8s;
}
.scream h3{
    font-size: 25px;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img:hover .scream{
    top: 0%;
}
.kaushan{
    font-family: 'Kaushan Script', cursive;
}
.bad{
    font-family: 'Bad Script', cursive;
}
.white{
    color: white;
}